.cards {
  margin: 50px auto 0;
}
.cards__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

.cards__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  /* from dev tools to fix image sizes - need to figure out 
  something other than hard coding sizes*/
  height: 282px;
  width: 282px;
  object-fit: fill;
}
.cards__textbox {
  display: flex;
  background-color: white;
  padding: 25px 15px 31px 21px;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 282px;
  box-sizing: border-box;
}
.cards__text {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__button-like {
  margin-left: auto;
  width: 21px;
  height: 19px;

  background-image: url("../images/heartemoji.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  transition: opacity 0.25s ease-in-out;
}
.cards__button-like:hover {
  opacity: 0.5;
}

.cards__button-like_active {
  background-image: url("../images/heartemojiactive.svg");
}
@media screen and (max-width: 920px) {
  .cards__list {
    max-width: 581px;
  }
}
@media screen and (max-width: 625px) {
  .cards__list {
    max-width: 282px;
  }
}
