.footer {
  margin: 67px auto 61px;
  display: flex;
  max-width: 880px;
  width: 100%;
}
.footer__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #545454;
}
@media screen and (max-width: 625px) {
  /*was at 490px tablet view awkward at 667px tried 670 625 where other break*/
  .footer {
    margin: 50px auto 36px;
  }
  .footer__text {
    font-size: 14px;
  }
}
