.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
}

@media screen and (max-width: 625px) {
  /*was at 409 625 is where other breaks are*/
  .header {
    padding: 28px 0 32px 8px;
  }
  .header__logo {
    max-width: 126px;
    max-height: 24px;
  }
}
